* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Open Sans";
    src: url(../cssBayan/fonts/static/OpenSans/OpenSans-Light.ttf);
    font-weight: light;
}
@font-face {
    font-family: "Open Sans";
    src: url(../cssBayan/fonts/static/OpenSans/OpenSans-Regular.ttf);
    font-weight: regular;
}
html {
    font-family: "Open Sans";
    font-weight: light;
    background-color: rgb(54, 54, 54);
}
.container {
    max-width: 80%;
}
h1 {
    font-family: "Open Sans";
    font-weight: regular;
    font-size: 3.5em;
    margin-bottom: 5vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    color: rgba(240, 248, 255, 0.845);
}
.pictures {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.picture {
    border-top: 0.1em solid rgba(240, 248, 255, 0.845);
    border-bottom: 0.1em solid rgba(240, 248, 255, 0.845);
    width: 100%;
}
summary {
    font-size: 2em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    color: rgba(240, 248, 255, 0.845);
    transition: 0.5s;
    list-style-type: none;
    cursor: pointer;
}
summary::after {
    display: inline-block;
    content: "+";
}
.title1::after {
    margin-left: 83%;
}
.title2::after {
    margin-left: 80.4%;
}
.title3::after {
    margin-left: 83.5%;
}
.title4::after {
    margin-left: 85%;
}
.title5::after {
    margin-left: 81.5%;
}
details[open] summary::after {
    content: "×";
}
details[open] {
    animation: slide 1s ease-in-out;
}
@keyframes slide {
    0%    { opacity: 0; transform:  translate(0, 0); }
    100%  { opacity: 1; transform:  translate(0, 0); }
}
summary:hover {
    background-color: rgba(240, 248, 255, 0.506);
    color: black;
}
.image {
    width: 70%;
    margin: 0 15% 0 15%;
}
@media (max-width: 820px) {
    .container {
      max-width: 80%;
    }
    h1 {
        font-size: 2em;
    }
    summary {
        font-size: 1.5em;
    }
    .title1::after {
        margin-left: 70%;
    }
    .title2::after {
        margin-left: 65.3%;
    }
    .title3::after {
        margin-left: 70.7%;
    }
    .title4::after {
        margin-left: 73.1%;
    }
    .title5::after {
        margin-left: 66.9%;
    }
}
@media (max-width: 320px) {
    .container {
      max-width: 90%;
    }
    h1 {
        font-size: 1em;
    }
    summary {
        font-size: 0.8em;
    }
    .title1::after {
        margin-left: 64%;
    }
    .title2::after {
        margin-left: 58.5%;
    }
    .title3::after {
        margin-left: 64.9%;
    }
    .title4::after {
        margin-left: 67.9%;
    }
    .title5::after {
        margin-left: 60.6%;ч
    }
}