* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Open Sans";
    src: url(../cssBayan/fonts/static/OpenSans/OpenSans-Light.ttf);
    font-weight: light;
}
@font-face {
    font-family: "Open Sans";
    src: url(../cssBayan/fonts/static/OpenSans/OpenSans-Regular.ttf);
    font-weight: regular;
}
html {
    font-family: "Open Sans";
    font-weight: light;
    background-color: rgb(54, 54, 54);
}
.container {
    max-width: 1500px;
}
h1 {
    font-family: "Open Sans";
    font-weight: regular;
    font-size: 3.5em;
    margin-bottom: 5vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    color: rgba(240, 248, 255, 0.845);
}
.pictures {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.picture {
    border-top: 0.1em solid rgba(240, 248, 255, 0.845);
    border-bottom: 0.1em solid rgba(240, 248, 255, 0.845);
    width: 100%;
}
summary {
    font-size: 2em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    color: rgba(240, 248, 255, 0.845);
    transition: 0.5s;
    list-style-type: none;
    cursor: pointer;
}
summary::after {
    display: inline-block;
    content: "+";
}
.title1::after {
    margin-left: 83%;
}
.title2::after {
    margin-left: 91.5%;
}
.title3::after {
    margin-left: 51.3%;
}
.title4::after {
    margin-left: 78.8%;
}
.title5::after {
    margin-left: 56.8%;
}
.title6::after {
    margin-left: 84%;
}
.title7::after {
    margin-left: 65.3%;
}
.title8::after {
    margin-left: 73.7%;
}
details[open] summary::after {
    content: "×";
}
details[open] {
    animation: slide 1s ease-in-out;
}
@keyframes slide {
    0%    { opacity: 0; transform:  translate(0, 0); }
    100%  { opacity: 1; transform:  translate(0, 0); }
}
summary:hover {
    background-color: rgba(240, 248, 255, 0.506);
    color: black;
}
.image {
    width: 100%;
}